<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <p></p>
    <h3>Добавить продукт</h3>
    <form novalidate ng-submit="createProduct()">
        <input class="form-control" type="text" placeholder="Название продукта" ng-model="newProduct.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Стоимость" ng-model="newProduct.cost">
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить продукт</button>
    </form>

    <p></p>
    <h3>Фильтр</h3>
    <form novalidate ng-submit="loadProducts()">
        <input class="form-control" type="text" placeholder="Название продукта" ng-model="filter.title_part">
        <p></p>
        <input class="form-control" type="number" placeholder="Минимальная сумма" ng-model="filter.min_cost">
        <p></p>
        <input class="form-control" type="number" placeholder="Максимальная сумма" ng-model="filter.max_cost">
        <p></p>
        <button type="submit" class="btn btn-primary">Применить фильтр</button>
    </form>

    <h3>Список продуктов</h3>
    <table class="table table-hover" >
        <tr>
            <td>ID</td>
            <td>Название продукта</td>
            <td>Стоимость</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productList.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>
                {{p.cost}}
            </td>
            <td>
                <button class="btn btn-success" ng-click="addToCart(p.id, p.title, p.cost)">Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item" ng-repeat="pageIndex in pageArray">
                <a class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</a>
            </li>

        </ul>
    </nav>
    <h3>Корзина</h3>
    <table class="table table-hover" >
        <tr>
            <td>Название продукта</td>
            <td>Стоимость</td>
            <td>Количество</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="ol in cart">
            <td>{{ol.title}}</td>
            <td>
                {{ol.cost}}
            </td>
            <td>
                <button class="btn btn-primary" ng-click="changeCount(-1, ol.id)">-</button>
                {{ol.count}}
                <button class="btn btn-primary" ng-click="changeCount(1, ol.id)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="removeFromCart(ol.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>